<div class="course-card">
  <div class="course-title">
    <h3>{{ course?.title }}</h3>
  </div>
  <img src="../../../assets/images/js.jpg " width="360px" height="200px" />
  <div class="course-image"></div>
  <div class="course-description">
    <h5>{{ course?.author }}</h5>
    <div class="course-description-text">
      <p>
        {{ course?.description }}
      </p>
    </div>
  </div>
  <div class="course-card-footer">
    <div class="course-price">{{ course?.price }}</div>
    <div class="course-actions">
      <button class="btn-action course-view">
        <i class="fa fa-info" aria-hidden="true"></i>
      </button>
      <button class="btn-action course-edit">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
      <button class="btn-action course-delete">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>
